.header h3 {
    position: relative;
    padding-left: 75px;
}

.form-horizontal {
    position: relative;
    left: 5%;
    width: 50%;
}

.form-group {
    position: relative;
    padding-bottom: 5%;
    float: left;
}

.form-control {
    width: 250px;
}

.form-control2 {
    width: 250px;
    height: 200px;
}


